<footer id = "footer"class="mainfooter" role="contentinfo">  
  <div class="footer-middle">  
  <div class="container">  
    <div class="row">  
      <div class="col-md-3 col-sm-6">  
        <div class="footer-pad">  
          <h3> Nike</h3>  
          <ul class="list-unstyled">  
            <li> </li>  
            <li> Shoes</li>  
            <li>  Clothing </li>  
            <li> Accessories</li>  
        
          </ul>  
        </div>  
      </div>  
 
     
        <div class="col-md-3">  
            <h6> Follow Us </h6>  
            <ul class="social-network social-circle">  
             <li>  <i class="fa-brands fa-facebook"></i> https://www.facebook.com/minh.khoi.37625843/ </li>  
             <li> minhkh0inee </li>  
            <li> 0702314026 </li>  
            </ul>               
    </div>  
    </div>  
    <div class="row">  
    <div class="col-md-12 copy">  
    <p class="text-center"> © Copyright 2021 - Company Name.  All rights reserved. </p>  
    </div>  
    </div>  
  </div>  
  </div>  
</footer>  